@model Goliath.Models.ProfileSettingsModel
@{
    var user = await _repository.GetUserFromContextAsync(User);
}

<p id="option-text">
    TWO-FACTOR AUTHENTICATION
    <i class="fas fa-question-circle item-info hvr-grow"
       tabindex="0" role="button" data-toggle="popover"
       data-trigger="focus"
       title="Two-Factor Authentication" data-html="false"
       data-content="Two-Factor authentication provides additional security to your account by requiring additional verification on login or while editing confidential credentials.">
    </i>
</p>
@if (user.TwoFactorEnabled)
{
    <div class="alert alert-success" role="alert">
        <p>
            <h4 class="alert-heading">Enabled <i class="fas fa-user-lock ml-1"></i></h4>
            Two-Factor authentication is currently enabled.
            <br />
            <a asp-controller="@GoliathControllers.TwoFactorController" asp-action="@nameof(TwoFactorController.Index)" class="btn btn-secondary mb-2 mt-2">
                <i class="fas fa-edit fa-fw mr-1"></i>Configure
            </a>
            <br />
            <a href="#!" class="alert-link">Learn more about Two-Factor Authentication.</a>
        </p>
    </div>
    <a asp-controller="@GoliathControllers.TwoFactorController" asp-action="@(user.TwoFactorMethod == (int)TwoFactorMethod.SmsVerify ? nameof(TwoFactorController.SetupSms2FA) : nameof(TwoFactorController.SetupApp2FA))" class="btn btn-primary">
        <i class="fas fa-file mr-2"></i>Recover 2FA Codes
    </a>
}
else
{
    <div class="alert alert-danger" role="alert">
        <p>
            <h4 class="alert-heading">Disabled</h4>
            Two-Factor authentication is currently disabled.
            <br />
            <a asp-controller="@GoliathControllers.TwoFactorController" asp-action="@nameof(TwoFactorController.Index)" class="btn btn-danger mb-2 mt-2">
                <i class="fas fa-toggle-on fa-fw mr-1"></i>Enable
            </a>
            <br />
            <a href="#!" class="alert-link">Learn more about Two-Factor Authentication.</a>
        </p>
    </div>
}