@*

    Primary layout for all pages in Goliath.
    Specific layouts are in Layouts folder.

*@
<!DOCTYPE html>
@* Main layout file for application *@

<html lang="en-us">
<head>
    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
    <meta charset="utf-8" />
    <meta name="author" content="jluvisi" />
    <meta name="description" content="Goliath is an ASP.NET Core based password & secrets manager. Goliath allows users to setup personal accounts and provides a cloud based way of retrieving sensitive encrypted information." />

    <title>Goliath | @ViewData["Title"]</title>

    <!-- jQuery, Bootstrap 4 & FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/theme/bootstrap4-bubblegum.min.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>

    <!--------------------------------------->
    <!-- Custom Files (Global) -->
    <link href="~/css/Shared/GlobalStyle.css" rel="stylesheet" />
    <script src="~/js/Shared/GlobalScript.js"></script>
    <!--------------------------->
    <!-- Custom Files (Specific) -->
    @RenderSection("UniqueHeader", false)
    <!----------------------------->
</head>

<body class="gradient-light">

    <noscript>
        @*If javascript is not enabled then redirect them*@
        <meta HTTP-EQUIV="REFRESH" content="0; url=@Url.ActionLink("NoJS", "Errors")">
    </noscript>

    <!-- Primary Layout Child HTML -->
    @RenderBody()
    <!-- Primary Layout Child HTML End-->
    <footer class="footer fixed-bottom" id="footer">
        <div class="container text-center">
            <p id="footer-padding" class="p-3">
                <a id="footer-text" data-toggle="tooltip" data-placement="top" data-html="true" title="Web Version: @ViewData["Version"]<br>Latest Update: 3/17/2021">
                    [Goliath @ViewData["Version"]] Last Updated: @DateTime.Now
                </a>
            </p>
        </div>
    </footer>

    <!-- If the browser orientation (mobile) is not supported. -->
    <main id="bad-browser">
        <article>
            <h2>
                <i class="fas fa-bomb fa-3x"></i>
                Uh-Oh
            </h2>
            <h4 class="h4">
                Goliath does not support mobile landscape for this page!
                <br />
                Turn your phone back to portrait!
            </h4>
        </article>
    </main>
</body>
</html>

@*Primary Scripts for child.*@
@RenderSection("Scripts", false)
@if (bool.Parse(config["General:CheckBrowserCompatibility"]))
{
    <script type="text/javascript" defer>
        $(document).ready(() => {
            GlobalScript.checkBrowser();
        });
    </script>
}
@if (bool.Parse(config["General:EnableTooltips"]))
{
    <script type="text/javascript" defer>
        // Load tooltips.
        $(document).ready(() => {
            $('[data-toggle="tooltip"]').tooltip({
                container: 'body'
            });
        });
    </script>
}