@*

    Primary layout for all pages in Goliath.
    Specific layouts are in Layouts folder.

*@
<!DOCTYPE html>
@* Main layout file for application *@

<html lang="en-us">
<head>
    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
    <meta charset="utf-8" />
    <meta name="author" content="jluvisi" />
    <meta name="description" content="Goliath is an ASP.NET Core based password & secrets manager. Goliath allows users to setup personal accounts and provides a cloud based way of retrieving sensitive encrypted information." />

    <title>Goliath | @ViewData["Title"]</title>

    <!-- jQuery, Bootstrap 4 & FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/theme/bootstrap4-bubblegum.min.css" asp-append-version="true" />
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    <link rel="icon" href="data:image/svg+xml;utf8,<svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='shield-alt' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-shield-alt fa-w-16 fa-9x'><path fill='currentColor' d='M466.5 83.7l-192-80a48.15 48.15 0 0 0-36.9 0l-192 80C27.7 91.1 16 108.6 16 128c0 198.5 114.5 335.7 221.5 380.3 11.8 4.9 25.1 4.9 36.9 0C360.1 472.6 496 349.3 496 128c0-19.4-11.7-36.9-29.5-44.3zM256.1 446.3l-.1-381 175.9 73.3c-3.3 151.4-82.1 261.1-175.8 307.7z' class=''></path></svg>" asp-append-version="true" />

    <!--------------------------------------->
    <!-- Custom Files (Global) -->
    <link href="~/css/Shared/GlobalStyle.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/Shared/GlobalScript.js" asp-append-version="true"></script>
    <!--------------------------->
    <!-- Custom Files (Specific) -->
    @RenderSection("UniqueHeader", false)
    <!----------------------------->
</head>

<body class="gradient-light">

    <noscript>
        @*If javascript is not enabled then redirect them to the NoJS error page.*@
        <meta HTTP-EQUIV="REFRESH" content="0; url=@Url.ActionLink("NoJS", "Errors")">
    </noscript>

    <!-- Primary Layout Child HTML -->
    @RenderBody()
    <!-- Primary Layout Child HTML End-->
    <footer class="footer fixed-bottom" id="footer">
        <div class="container text-center">
            <p id="footer-padding" class="p-3">
                <a id="footer-text" data-toggle="tooltip" data-placement="top" data-html="true" title="Web Version: @ViewData["Version"]<br>Latest Update: 3/17/2021">
                    [Goliath @ViewData["Version"]] Last Updated: @DateTime.Now
                </a>
            </p>
        </div>
    </footer>

    <!-- If the browser orientation (mobile) is not supported. -->
    <main id="bad-browser">
        <article>
            <h2>
                <i class="fas fa-bomb fa-3x"></i>
                Uh-Oh
            </h2>
            <h4 class="h4">
                Goliath does not support mobile landscape for this page!
                <br />
                Turn your phone back to portrait!
            </h4>
        </article>
    </main>
</body>
</html>

@*Primary Scripts for child.*@
@RenderSection("Scripts", false)
@if (bool.Parse(config["General:CheckBrowserCompatibility"]))
{
    <script type="text/javascript" defer>
        $(document).ready(() => {
            GlobalScript.checkBrowser();
        });
    </script>
}
@if (bool.Parse(config["General:EnableTooltips"]))
{
    <script type="text/javascript" defer>
        // Load tooltips.
        $(document).ready(() => {
            $('[data-toggle="tooltip"]').tooltip({
                container: 'body'
            });
        });
    </script>
}