@*

    Primary layout for all pages in Goliath.
    Specific layouts are in Layouts folder.

*@
<!DOCTYPE html>
<!-- Main layout file for application -->
<html lang="en-us">
<head>
    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
    <meta charset="utf-8" />
    <meta name="author" content="jluvisi" />
    <meta name="description" content="Goliath is an ASP.NET Core based password & secrets manager. Goliath allows users to setup personal accounts and provides a cloud based way of retrieving sensitive encrypted information." />

    <title>Goliath | @ViewData["Title"]</title>

    <!-- jQuery, Bootstrap 4 & FontAwesome -->
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="@ViewBag.fontAwesome" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="~/lib/theme/bootstrap4-bubblegum.min.css">
    </environment>
    <environment include="Development">
        <script>
            console.log("--> Goliath is being run in Development mode. <--");
        </script>
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
        <script src="@ViewBag.fontAwesome" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.discordapp.com/attachments/811080332937920522/811322563270803537/bootstrap4-bubblegum.css">
    </environment>
    <!--------------------------------------->
    <!-- Custom Files (Global) -->
    <link href="~/css/global.css" rel="stylesheet" />
    <script src="~/js/global.js"></script>
    <!--------------------------->
    <!-- Custom Files (Specific) -->
    @RenderSection("UniqueHeader")
    <!----------------------------->
</head>

<body>
        <main id="outer">

            <!-- Render the child HTML -->
            @RenderBody()

            <footer class="footer fixed-bottom" id="footer">
                <div class="container text-center">
                    <p class="p-3">
                        <a id="footer-text" data-toggle="tooltip" data-placement="top" data-html="true" title="Web Version: @ViewData["Version"]<br>Latest Update: 2/17/2021">
                            [Goliath @ViewData["Version"]] Last Updated: @DateTime.Now
                        </a>
                    </p>
                </div>
            </footer>
        </main>

    <main id="bad-browser">
        <div>
            <h2>
                <i class="fas fa-bomb fa-3x"></i>
                Uh-Oh
            </h2>
            <h4 class="h4">
                Goliath does not support mobile landscape for this page!
                <br />
                Turn your phone back to portrait!
            </h4>
        </div>
    </main>
</body>
</html>
<script>
    // Load tooltips.
    $(document).ready(function () {

        $('[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });

    });

    GlobalScript.checkBrowser();
</script>