@model Goliath.Models.BadStatusCodeModel
@using Goliath.Models
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager;
@{
    Layout = null;
}
@*
    Handle error pages for HTTP status codes.
*@
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
    <meta charset="utf-8" />
    <meta name="author" content="jluvisi" />
    <meta name="description" content="Goliath is an ASP.NET Core based password & secrets manager. Goliath allows users to setup personal accounts and provides a cloud based way of retrieving sensitive encrypted information." />

    <link rel="icon" href="data:image/svg+xml;utf8,<svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='shield-alt' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-shield-alt fa-w-16 fa-9x'><path fill='currentColor' d='M466.5 83.7l-192-80a48.15 48.15 0 0 0-36.9 0l-192 80C27.7 91.1 16 108.6 16 128c0 198.5 114.5 335.7 221.5 380.3 11.8 4.9 25.1 4.9 36.9 0C360.1 472.6 496 349.3 496 128c0-19.4-11.7-36.9-29.5-44.3zM256.1 446.3l-.1-381 175.9 73.3c-3.3 151.4-82.1 261.1-175.8 307.7z' class=''></path></svg>" asp-append-version="true" />

    <title>Goliath | Error: @Model.StatusCode</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/theme/bootstrap4-bubblegum.min.css" asp-append-version="true" />

    <link href="~/css/Shared/GlobalStyle.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/Shared/GlobalScript.js" asp-append-version="true"></script>
    <link href="~/css/Errors/ErrorStyle.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/Errors/ErrorScript.js" asp-append-version="true"></script>
</head>
<body>

    <noscript>
        <style type="text/css">
            #collapse {
                display: none;
            }

            #collapse-no-js {
                display: unset;
            }
        </style>
    </noscript>

    <main id="outer" class="bg-dark">
        <section id="inner">
            <div class="jumbotron">
                <h1 class="display-3">

                    <i id="icon1" class="far fa-times-circle fa-1x text-danger"></i>
                    <span id="error-label" class="display-3 ml-2 mr-2">Error: @Model.StatusCode</span>
                    <i id="icon2" class="far fa-times-circle fa-1x text-danger"></i>
                </h1>
                <p class="lead">
                    <strong>Oops!</strong> It seems we encountered an error while trying to load this webpage.
                    <br />
                    Either it does not exist or needs to be updated.
                </p>
                <hr class="my-4">

                <div class="text-dark btn-hover-text-primary hvr-grow" id="collapse" data-toggle="collapse" data-target="#information" aria-expanded="false" aria-controls="information">
                    <i id="arrow" class="fas fa-arrow-right mr-2"></i>Additional Information
                </div>
                <div class="text-dark btn-hover-text-danger hvr-grow" id="collapse-no-js">
                    <i id="arrow" class="fas fa-times mr-1"></i>
                    Additional Information
                    <br />
                    <p class="font-italic">Enable JavaScript to view additional information.</p>
                </div>

                <div class="collapse" id="information">
                    <div class="card card-body">
                        <p>

                            <a asp-controller="Redirect"
                               asp-action="Index"
                               asp-route-redirectUrl="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/@Model.StatusCode"
                               asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString"
                               target="_blank">
                                HTTP ERROR: STATUS @Model.StatusCode
                            </a>

                            <br />
                            <em>User Agent:</em>
                            <br />
                            @Model.UserAgent
                            <br />
                            <em>Goliath Information</em>
                            <br />
                            Browser Supported: <span id="browser-supported"></span>
                            <br />
                            Logged In: <span id="logged-in"></span>
                            <br />
                            Is Redirection: <span id="is-redirect"></span>
                        </p>
                    </div>
                </div>
                <p class="lead">
                    <div id="buttons">
                        <a href="javascript: history.go(-1)" class="btn btn-primary hvr-icon-spin" role="button">
                            <i class="fas fa-undo-alt mr-2 hvr-icon"></i>Go Back
                        </a>
                        <br id="spacer" />
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <a asp-controller="UserPanel" asp-action="Logout" class="btn btn-primary hvr-icon-forward" role="button">
                                <i class="fas fa-sign-in-alt mr-2 hvr-icon"></i>Go to Login
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Auth" asp-action="Index" class="btn btn-primary hvr-icon-forward" role="button">
                                <i class="fas fa-sign-in-alt mr-2 hvr-icon"></i>Go to Login
                            </a>
                        }
                        <br id="spacer" />
                        <a asp-controller="UserPanel" asp-action="Index" class="btn btn-primary hvr-icon-drop" role="button">
                            <i class="fas fa-database hvr-icon"></i>
                            Go to UserPanel
                        </a>
                    </div>
                </p>

                <hr />

                <p>
                    <a id="report-error-btn" class="btn btn-danger hvr-icon-buzz-out" data-toggle="tooltip" data-placement="right" data-html="true" title="<div id=&quot;&quot;> <div id=&quot;inner&quot;> <span class=&quot;text-danger&quot;> <i class=&quot;fas fa-exclamation-circle&quot;></i> <strong>Notice</strong> </span> <br /> <p>Only report this as an issue if you believe that this page should be getting rendered but is not.</p> </div> </div>" data-original-title="Issue Notice" href="#!" role="button">

                        <i class="fas fa-bug mr-2 hvr-icon"></i>Report as Issue
                    </a>
                    <br />
                    @DateTime.UtcNow (UTC)
                </p>
            </div>
        </section>
    </main>
</body>
</html>

@if (_signInManager.IsSignedIn(User))
{
    <script>
        ErrorScript.updateText("#logged-in", true);
    </script>
}
else
{
    <script>
        ErrorScript.updateText("#logged-in", false);
    </script>

}
@if (TempData["Redirect"] != null)
{
    <script>
        ErrorScript.updateText("#is-redirect", true);
    </script>
}
else
{
    <script>
        ErrorScript.updateText("#is-redirect", false);
    </script>
}