@{
    Layout = null;
}
@*
    Handle if the user does not have javascript enabled.
*@
<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>No JavaScript</title>
    <meta name="author" content="jluvisi">
    <meta name="description" content="Official Goliath Password Manager.">
    <meta name="keywords" content="keywords,here">

    <link rel="icon" href="data:image/svg+xml;utf8,<svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='shield-alt' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-shield-alt fa-w-16 fa-9x'><path fill='currentColor' d='M466.5 83.7l-192-80a48.15 48.15 0 0 0-36.9 0l-192 80C27.7 91.1 16 108.6 16 128c0 198.5 114.5 335.7 221.5 380.3 11.8 4.9 25.1 4.9 36.9 0C360.1 472.6 496 349.3 496 128c0-19.4-11.7-36.9-29.5-44.3zM256.1 446.3l-.1-381 175.9 73.3c-3.3 151.4-82.1 261.1-175.8 307.7z' class=''></path></svg>" asp-append-version="true" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/theme/bootstrap4-bubblegum.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Errors/NoJSStyle.css" asp-append-version="true" />
    <link href="~/css/Shared/Interact.css" rel="stylesheet" asp-append-version="true" />

    <script>
            window.location.replace("@Url.Action("Index", "Auth")");
    </script>
</head>

<body class="bg-dark">

    <main id="wrapper">
        <section class="text-center">
            <div class="card">
                <h5 class="card-header">
                    <span class="text-danger"><strong><i class="fas fa-exclamation-circle"></i> Error:</strong> JavaScript required.</span>
                </h5>
                <article class="card-body">
                    <p class="card-text lead">
                        <strong class="h2">Oops!</strong>
                        <br />
                        It seems you have JavaScript disabled on your browser.
                        Goliath <u class="font-weight-bold">requires</u> JavaScript to function properly.
                    </p>
                    <hr />
                    <div id="buttons">
                        <a asp-controller="Redirect"
                           asp-action="Index"
                           asp-route-redirectUrl="https://www.enable-javascript.com/"
                           asp-route-returnUrl="@Context.Request.Path"
                           target="_blank" class="btn btn-primary hvr-float">
                            <i class="fab fa-js-square fa-lg"></i>
                            Enable JavaScript
                        </a>
                        <br id="spacer" />
                        <a href="#info" class="btn btn-primary hvr-float">
                            <i class="fas fa-question-circle fa-lg"></i>
                            Learn More
                        </a>
                        <br id="spacer" />
                        <a asp-controller="Redirect"
                           asp-action="Index"
                           asp-route-redirectUrl="https://github.com/jluvisi2021/Goliath"
                           asp-route-returnUrl="@Context.Request.Path"
                           target="_blank" class="btn btn-primary hvr-float">
                            <i class="fab fa-github fa-lg"></i>
                            View GitHub
                        </a>
                        <br id="spacer" />
                    </div>
                </article>
            </div>
        </section>
    </main>
    @*Pop-up without JavaScript*@
    <aside id="info" class="overlay">
        <section class="popup">

            <h2 class="text-center">Goliath & JavaScript <i class="fab fa-js-square fa-lg text-warning bg-dark"></i></h2>
            <a class="close" href="#">×</a>
            <article class="content">
                <hr />
                <p>
                    <a asp-controller="Redirect"
                       asp-action="Index"
                       asp-route-redirectUrl="https://en.wikipedia.org/wiki/JavaScript"
                       asp-route-returnUrl="@Context.Request.Path"
                       target="_blank">JavaScript</a>
                    is a programming language which
                    allows for the creation of interactive web pages.
                    <br />
                    Goliath uses JavaScript to prompt
                    <a asp-controller="Redirect"
                       asp-action="Index"
                       asp-route-redirectUrl="https://www.cloudflare.com/learning/bots/how-captchas-work/"
                       asp-route-returnUrl="@Context.Request.Path"
                       target="_blank">
                        CAPTCHAs,
                    </a>
                    dynamically update the view, as well as handle
                    updates and notifications.
                    <br />
                    If JavaScript is not enabled then Goliath cannot perform critical functionality.
                    <br />
                    JavaScript can be used for running <a asp-controller="Redirect"
                                                          asp-action="Index"
                                                          asp-route-redirectUrl="https://snyk.io/learn/javascript-security/"
                                                          asp-route-returnUrl="@Context.Request.Path"
                                                          target="_blank">nefarious code</a> but all of Goliath is <b>
                        <a asp-controller="Redirect"
                           asp-action="Index"
                           asp-route-redirectUrl="https://github.com/jluvisi2021/Goliath"
                           asp-route-returnUrl="@Url.Action("NoJS", "Errors")"
                           target="_blank">open-source</a>
                    </b> so you do
                    not have to worry about anything malicious being ran in the background.
                    <br />
                    Goliath also uses multiple security protocols to ensure data is protected. <a href="#!" , target="_blank">Learn how Goliath protects data.</a>
                    <hr />
                    <a asp-controller="Redirect"
                       asp-action="Index"
                       asp-route-redirectUrl="https://www.enable-javascript.com/"
                       asp-route-returnUrl="@Context.Request.Path"
                       target="_blank" class="btn btn-warning hvr-icon-bob">
                        <i class="fab fa-js-square fa-lg hvr-icon"></i>
                        Enable JavaScript
                    </a>
                    <a id="close-btn" href="#!" class="btn btn-outline-danger">
                        <i class="fas fa-times-circle mr-1"></i>Close
                    </a>
                </p>
            </article>
        </section>
    </aside>
</body>
</html>