@using Goliath.Models
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@{
    ViewData["Title"] = "Profile";
    Layout = "_LoginRequired";
    string query = Context.Request.QueryString.Value;

    string result(string param)
    {
        if(query.Contains($"?tab={param}") || (!query.Contains("tab") && param == ProfileTab.General))
        {
            return "active font-weight-bold";
        }
        return string.Empty;
    }
}

<!--Profile Scripts-->
<script src="~/js/UserPanel/Profile/ProfileScript.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/UserPanel/Profile/ProfileStyle.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Shared/Interact.slim.css" asp-append-version="true" />
<!------------------->
@*Display a modal if the values were updated.*@

@if (TempData["ValuesUpdated"] != null && TempData["ValuesUpdated"].Equals(RedirectPurpose.SettingsUpdatedSuccess))
{
    <partial name="~/Views/UserPanel/Profile/_SettingsUpdatedModal.cshtml" />
}

@if (_signInManager.IsSignedIn(User))
{
    <div class="container pt-5 pb-5">
        <div class="row pt-5 pb-5">
            <div id="profile-nav" class="col-3">
                <div class="row justify-content-center">
                    <h4>Profile Settings</h4>
                    <i id="settings-gear" class="fas fa-cog ml-2 fa-2x"></i>
                </div>

                <div id="nav-buttons" class="list-group text-left">
                    @*Each of the following <div> are handled by jQuery and render different partial views.*@
                    <a id="profile-nav-general" asp-action="Profile" asp-route-tab="@ProfileTab.General" class="list-group-item list-group-item-action @result(ProfileTab.General)">
                        General
                        <i class="fas fa-sliders-h block-pointer"></i>
                    </a>

                    <a id="profile-nav-colors" asp-action="Profile" asp-route-tab="@ProfileTab.Colors" class="list-group-item list-group-item-action @result(ProfileTab.Colors)">
                        Colors
                        <i class="fas fa-palette block-pointer"></i>
                    </a>
                    <a id="profile-nav-security" asp-action="Profile" asp-route-tab="@ProfileTab.Security" class="list-group-item list-group-item-action @result(ProfileTab.Security)">
                        Security
                        <i class="fas fa-shield-alt block-pointer"></i>
                    </a>
                    <a id="profile-nav-manage-data" asp-action="Profile" asp-route-tab="@ProfileTab.ManageData" class="list-group-item list-group-item-action @result(ProfileTab.ManageData)">
                        Manage Data
                        <i class="fas fa-server block-pointer"></i>
                    </a>
                    <a id="profile-nav-other" asp-action="Profile" asp-route-tab="@ProfileTab.Other" class="list-group-item list-group-item-action @result(ProfileTab.Other)">
                        Other
                        <i class="fas fa-wrench block-pointer"></i>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div id="primary-container" class="container rounded">
                    <div id="view">
                        <!-- Profile Child Start-->

                        @if (query.Contains($"?tab={ProfileTab.General}"))
                        {
                            <partial name="~/Views/UserPanel/Profile/_General.cshtml" />
                        }
                        else if (query.Contains($"?tab={ProfileTab.Colors}"))
                        {
                            <partial name="~/Views/UserPanel/Profile/_Colors.cshtml" />
                        }
                        else if (query.Contains($"?tab={ProfileTab.Security}"))
                        {
                            <partial name="~/Views/UserPanel/Profile/_Security.cshtml" />
                        }
                        else if (query.Contains($"?tab={ProfileTab.ManageData}"))
                        {
                            <partial name="~/Views/UserPanel/Profile/_ManageData.cshtml" />
                        }
                        else if (query.Contains($"?tab={ProfileTab.Other}"))
                        {
                            <partial name="~/Views/UserPanel/Profile/_Other.cshtml" />
                        }
                        else
                        {
                            <partial name="~/Views/UserPanel/Profile/_General.cshtml" />
                        }



                        <!-- Profile Child End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<partial name="_JQueryValidation" />