@*
    Layout for User Panel.
    - Profile
    - Database
    - Tools
    - Help
    - About Goliath
    - Build Info
*@
@using Goliath.Models
@inject Goliath.Repository.IAccountRepository _accountRepository
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@{
    Layout = "_Layout";
}

@section UniqueHeader {
    <link href="~/css/UserPanel/UserPanelStyle.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/UserPanel/UserPanelScript.js" asp-append-version="true"></script>
}

<main>
    <!-- Navbar Start -->
    <header>
        <nav id="top-nav" class="navbar navbar-expand-lg navbar-dark bg-primary ht-tm-element">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <i class="navbar-toggler-icon"></i>
            </button>
            <!-- Navbar Icon Start -->
            <a class="navbar-brand" asp-controller="@GoliathControllers.HomeController" asp-action="@nameof(HomeController.Index)">
                <i class="fas fa-shield-alt"></i>
                Goliath
            </a>
            <!-- Navbar Icon End -->
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                    <li class="nav-item" id="profile-nav">
                        <a class="nav-link" asp-controller="@GoliathControllers.UserPanelController" asp-action="@nameof(UserPanelController.Index)">Profile</a>
                    </li>
                    <li class="nav-item" id="database-nav">
                        <a class="nav-link" asp-controller="@GoliathControllers.UserPanelController" asp-action="@nameof(UserPanelController.Database)">Database</a>
                    </li>
                    <li class="nav-item" id="utilities-nav">
                        <a class="nav-link" asp-controller="@GoliathControllers.UserPanelController" asp-action="@nameof(UserPanelController.Utilities)">Utilities</a>
                    </li>
                    <li class="nav-item" id="help-nav">
                        <a class="nav-link" asp-controller="@GoliathControllers.UserPanelController" asp-action="@nameof(UserPanelController.Help)">Help (FAQ)</a>
                    </li>
                    <li class="nav-item" id="about-nav">
                        <a class="nav-link" asp-controller="@GoliathControllers.UserPanelController" asp-action="@nameof(UserPanelController.About)">About Goliath</a>
                    </li>
                    <li class="nav-item" id="build-nav">
                        <a class="nav-link" asp-controller="@GoliathControllers.UserPanelController" asp-action="@nameof(UserPanelController.BuildInfo)">Build Info</a>
                    </li>
                    @*If the user is signed in and is an admin then load admin tab.*@
                    @if (_signInManager.IsSignedIn(User) && await _accountRepository.IsAdminAsync(User.Identity.Name))
                    {
                        <li class="nav-item" id="admin-nav">
                            <a class="nav-link" asp-controller="@GoliathControllers.AdminPanelController" asp-action="@nameof(AdminPanelController.Index)">Admin Panel</a>
                        </li>
                    }

                    @*Dropdown Menu. These do not contain individual pages (Use redirections).*@
                    <li class="nav-item dropdown" id="other-nav">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Other
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a asp-controller="@GoliathControllers.RedirectController"
                               asp-action="@nameof(RedirectController.Index)"
                               asp-route-redirectUrl="https://github.com/jluvisi2021/Goliath"
                               asp-route-returnUrl="@Context.Request.Path"
                               class="dropdown-item">Go to GitHub</a>

                            <a asp-controller="@GoliathControllers.RedirectController"
                               asp-action="@nameof(RedirectController.Index)"
                               asp-route-redirectUrl="https://github.com/jluvisi2021/Goliath/wiki"
                               asp-route-returnUrl="@Context.Request.Path"
                               class="dropdown-item">Go to Wiki</a>
                            <a asp-controller="@GoliathControllers.RedirectController"
                               asp-action="@nameof(RedirectController.Index)"
                               asp-route-redirectUrl="#!"
                               asp-route-returnUrl="@Context.Request.Path"
                               class="dropdown-item">Suggest Feature</a>
                            <a asp-controller="@GoliathControllers.RedirectController"
                               asp-action="@nameof(RedirectController.Index)"
                               asp-route-redirectUrl="https://github.com/jluvisi2021/Goliath/issues/new"
                               asp-route-returnUrl="@Context.Request.Path"
                               class="dropdown-item">Report Issue</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#!">Share</a>
                        </div>
                    </li>
                </ul>
                @*Load the top right header indicating the user is logged in.*@
                <partial name="_LoginInfo" />
            </div>
        </nav>
    </header>
    <!-- Navbar End -->
    <section class="text-center">
        <!-- UserPanel Body Start -->
        @RenderBody()
        <!-- UserPanel Body End -->
    </section>
</main>

@section Scripts {
    <script type="text/javascript" defer>
        UserPanelScript.updateNav("@ViewData["Title"].ToString().ToLower().Split(" ")[0]");
    </script>
}