@model Goliath.Models.ProfileSettingsGeneralModel
@{
    var user = await _repository.GetUserFromContextAsync(User);
}

<div class="modal fade" id="confirm-settings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left pb-0">
                <span class="font-weight-light h5 pb-2">Are you sure you want to update these settings?</span>
                <!-- Changed Settings -->
                <ul id='settings-updates' style="font-family: 'Trebuchet MS';" class='list-group list-group-flush pt-2 pb-1 mb-0'></ul>

                <!-- Changed Settings End -->

                <div class="w-75 pt-2">
                    <partial name="~/Views/Captcha/_ValidateCaptchaEmbedded.cshtml" />
                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
                <button type="submit" class="btn btn-success ">
                    <i class="fas fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#confirm-settings").modal("toggle");
</script>
@*Get the settings changed.*@
<script type="text/javascript">

    // Update the list in the modal with all of the changed settings.
    ProfileScript.backgroundUpdated('@user.BackgroundColor');
    ProfileScript.themeUpdated('@user.DarkTheme');
    ProfileScript.emailUpdated('@user.Email');
    ProfileScript.phoneUpdated('@user.PhoneNumber');
    ProfileScript.logoutThresholdUpdated('@user.LogoutThreshold');
    ProfileScript.passwordUpdated();
</script>